<div class="container" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="header">
    <span class="label">Bienvenue sur notre convertisseur</span>
  </div>
  <div class="body">
    <div fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="15px">
      <div class="taux" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="label">1 Euro égal à </div>
        <div class="value">{{taux}} Dollar</div>
      </div>
      <div class="input" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="24px">
        <div *ngIf="isEuroInput" class="euro" fxLayout="column" fxLayoutAlign="space-around center">
          <input placeholder="EUR" type="number" min="0" class="input" [(ngModel)]="euroInput"
            (ngModelChange)="valueChange($event)">
          <input placeholder="USD" type="number" min="0" class="input" [(ngModel)]="dollarInput">
        </div>
        <div *ngIf="!isEuroInput" class="euro" fxLayout="column" fxLayoutAlign="space-around center">
          <input placeholder="USD" type="number" min="0" class="input" [(ngModel)]="dollarInput"
            (ngModelChange)="valueChange($event)">
          <input placeholder="EUR" type="number" min="0" class="input" [(ngModel)]="euroInput">
        </div>
        <div class="toggleButton">
          <mat-button-toggle-group #group="matButtonToggleGroup" [value]="selectedValue"
            (change)="onToggleChange(group.value)">
            <mat-button-toggle value="euro">EUR</mat-button-toggle>
            <mat-button-toggle value="dollar">USD</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="fixedtaux" fxLayout="column" fxLayoutAlign="space-around center">
        <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
          <span>Taux fixe: </span>
          <input type="number" min="0" class="input" [(ngModel)]="forcedTaux" (ngModelChange)="setFixedTaux($event)">
        </div>
        <div class="alert" [hidden]="isAcceptecForcedTaux() || !forcedTaux">Taux invalide</div>
      </div>
      <div class="table">
        <app-conversion-historic></app-conversion-historic>
      </div>
    </div>
  </div>
</div>